body {
    background-image: url('background-img.jpeg');
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: 100% 100%;
    padding-left: 10px;
}
.div_style{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.header-h1{
    font-size: 60px;
    color: white;
    padding-left: 15px;
}
.main-h1{
    font-size: 25px;
    color: rgb(240, 166, 70);
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-right: 20px;
}
.content-div{
    color: rgb(12, 54, 138);
    padding-left: 30px;
    padding-right: 30px;
}
.content-span{
    font-size: 30px;
    color: rgba(40, 81, 230, 0.965);
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.746);
    font-weight:bold;
}
.content-p{
    font-size: 25px;
    background-color: rgba(231, 215, 215, 0.777);
    text-align: justify;
    line-height: 33px;
}
.h1-in-div{
    font-size: 18px;
    padding-left: 10px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: rgb(251, 214, 128);
}
